/* ========= BREAKPOINTS ========= */
/* For small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .quality {
        &_img-small {
            transform: translateX(-6rem);
        }

        &_buttons {
            flex-direction: column;
            row-gap: 1rem;
        }
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .specialty {
        &_category {
            grid-template-columns: repeat(2, 200px);
            column-gap: 3rem;
        }
    }

    .products {
        &_content {
            grid-template-columns: repeat(2, 200px);
            padding-bottom: 3rem;
        }
    }

    .blog {
        &_content {
            grid-template-columns: 450px;
            justify-content: center;
        }
    }

    .footer {
        &_newsletter {
            width: 350px;
        }
    }
}

@media screen and (min-width: 767px) {
    .section {
        padding: 7rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);

        &_toggle, 
        &_close {
            display: none;
        }

        &_list {
            padding-top: 0;
            flex-direction: row;
            column-gap: 4rem;
        }

        &_link {
            position: relative;
            font-size: var(--normal-font-size);
            text-transform: initial;

            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 12px;
                background-color: var(--text-color-light);
                transform: translateX(1.25rem);
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
        }
    }

    .scroll_header .nav_link {
        color: var(--text-color);
    }

    .scroll_header .active-link {
        color: var(--title-color);
    }

    .scroll_header .active-link::after {
        background-color: var(--title-color);
    }

    .home {
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        position: relative;

        &_content {
            position: initial;
        }

        &_scroll {
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }

    .products {
        &_filters {
            grid-template-columns: repeat(3, 200px);
        }
    }

    .quality_content,
    .footer_content {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

/* For larger devices */
@media screen and (min-width: 1040px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home {
        &_content {
            max-width: 400px;
            margin-right: 7rem;
            margin-left: auto;
        }
    }

    .section_title {
        padding-right: 15rem;
        padding-left: 1.75rem;
    }

    .section_title::before {
        height: 28px;
        width: 4px;
        top: 12px;
    }

    .specialty {
        &_box {
            display: grid;
            grid-template-columns: 2fr .5fr;
        }

        &_group {
            text-align: initial;
        }

        &_category {
            grid-template-columns: repeat(3, 250px);
            column-gap: 8rem;
        }

        &_line {
            position: relative;

            &::before {
                content: '';
                width: 1px;
                height: 120px;
                background-color: var(--text-color-light);
                position: absolute;
                right: -5rem;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
        }

        &_img {
            width: 80px;
            margin-bottom: 1.5rem;
        }
    }

    .products {
        &_filters {
            margin: 4rem 0 5.5rem;
            column-gap: 4rem;
        }

        &_content {
            grid-template-columns: repeat(3, 262px);
            justify-content: initial;
            column-gap: 5rem;
        }

        &_card {
            border-radius: .75rem;
        }

        &_img {
            width: 200px;
        }

        &_shape {
            padding: 2rem 0;
            border-radius: .75rem .75rem 0 0;
        }

        &_data {
            padding: 1rem 0 1.5rem 1.5rem;
        }

        &_name {
            font-size: var(--h3-font-size);
        }

        &_button {
            font-size: 1.5rem;
            padding: .75rem;
            right: 1.5rem;
            top: -1.5rem;
        }
    }

    .quality {
        &_content {
            column-gap: 6rem;
        }

        &_images {
            margin-top: 2rem;
        }

        &_img-big {
            width: 428px;
        }

        &_img-small {
            width: 153px;
            transform: translateX(-7rem);
        }

        &_title {
            margin-bottom: 1.5rem;
        }
        
        &_special {
            margin-bottom: 1rem;
        }
    }

    .logo {
        &_container {
            grid-template-columns: repeat(5, 1fr);
            padding: 3.5rem 0;
        }

        &_img {
            width: 110px;
        }
    }

    .blog {
        &_container {
            padding-bottom: 5rem;
        }

        &_content {
            grid-template-columns: repeat(2, 450px);
            column-gap: 5rem;
            padding-top: 2rem;
        }
    }

    .footer {
        &_content {
            grid-template-columns: repeat(4, max-content);
            column-gap: 4rem;
            padding-bottom: 5.5rem;
        }

        &_group {
            margin-top: 3rem;
            flex-direction: row;
            justify-content: space-between;
        }

        &_title {
            font-size: var(--h2-font-size);
        }

        &_social {
            column-gap: 2rem;
        }

        &_social-link {
            font-size: 1.5rem;
        }
    }

    .scrollup {
        right: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .home {
        &_container {
            padding-top: 10rem;
        }

        &_data {
            padding-top: 3rem;
        }

        &_title {
            margin-bottom: 2rem;
        }

        &_description {
            margin-bottom: 3rem;
        }

        &_scroll {
            width: 130px;
        }
    }
}

/* Alternative code, for larger screens */
@media screen and (min-width: 1700px) {
    .home {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }
}