/* ========= FOOTER ========= */
.footer {
    background-color: var(--black-color);
    padding: 4rem 0 2.5rem;

    &_title {
        color: #fff;
        font-size: var(--h1-font-size);
        margin-bottom: 2rem;
    }

    &_description {
        margin-bottom: .75rem;
    }

    &_newsletter{
        display: flex;
        column-gap: .5rem;
    }

    &_input {
        border: none;
        outline: none;
        padding: 1.25rem 1rem;
        border-radius: .25rem;
        width: 70%;
        color: var(--text-color);
    }

    &_button {
        padding: .75rem;
        font-size: 2rem;
        border-radius: .25rem;
        display: inline-flex;
        background-color: var(--first-color);
        align-items: center;
    }

    &_button_img {
        transform: rotate(-30deg);
        transition: .4s;

        &:hover {
            transform: rotate(-30deg) translate(.25rem);
        }
    }

    &_content {
        row-gap: 2.5rem;
        padding-bottom: 2.5rem;
        border-bottom: 1px solid var(--text-color);
    }

    &_subtitle {
        color: #fff;
        font-size: var(--h2-font-size);
        margin-bottom: .75rem;
    }

    &_flag {
        width: 1rem;
    }

    &_group {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1.5rem;
    }

    &_social {
        display: flex;
        justify-content: center;
        column-gap: 1.5rem;
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    &_social-link {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(106%) contrast(107%);
        transition: .4s;

        &:hover {
            filter: invert(49%) sepia(60%) saturate(554%) hue-rotate(357deg) brightness(105%) contrast(96%);
        }
    }

    &_copy {
        font-size: var(--smaller-font-size);
    }
}